In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
salaries_df = pd.read_html('https://www.spotrac.com/nba/contracts/sort-value/drafted/limit-500/')[0]

In [3]:
temp_df = salaries_df["Player"].str.split(" ", n = 10, expand = True)
salaries_df['First Name'] = temp_df[0]
salaries_df['Last Name'] = temp_df[1]
salaries_df.drop(columns =["Player"], inplace = True)

In [4]:
salaries_df = salaries_df[['Rank', 'First Name', 'Last Name', 'Signed Age', 'Yrs', 'Value', 'AAV', 'Sign Bonus']]
    # DataFrame shows incorrectly in Jupyter Notebook
salaries_df

,Rank,First Name,Last Name,Signed Age,Yrs,Value,AAV,Sign Bonus
0,1,Giannis,Antetokounmpo,26,5,"$228,200,826","$45,640,165",NaN
1,2,Russell,Westbrook,28,5,"$206,794,070","$41,358,814",NaN
2,3,Rudy,Gobert,28,5,"$205,000,002","$41,000,000",NaN
3,4,Stephen,Curry,29,5,"$201,158,790","$40,231,758",NaN
4,5,Anthony,Davis,27,5,"$189,903,600","$37,980,720",NaN
...,...,...,...,...,...,...,...,...
369,369,Frank,Kaminsky,27,1,"$1,882,867","$1,882,867",NaN
370,371,Emmanuel,Mudiay,23,1,"$1,737,145","$1,737,145",NaN
371,371,Willy,Hernangomez,26,1,"$1,737,145","$1,737,145",NaN
372,373,Harry,Giles,22,1,"$1,678,854","$1,678,854",NaN
373,373,Sterling,Brown,25,1,"$1,678,854","$1,678,854",NaN

In [5]:
engine = create_engine("sqlite:///NBA-20-21")
conn = engine.connect()

In [6]:
salaries_df.to_sql('salaries', conn)

In [8]:
results = engine.execute('SELECT * FROM salaries')
for r in results:
    print(r)

(0, 1, 'Giannis', 'Antetokounmpo', 26, 5, '$228,200,826', '$45,640,165', None)
(1, 2, 'Russell', 'Westbrook', 28, 5, '$206,794,070', '$41,358,814', None)
(2, 3, 'Rudy', 'Gobert', 28, 5, '$205,000,002', '$41,000,000', None)
(3, 4, 'Stephen', 'Curry', 29, 5, '$201,158,790', '$40,231,758', None)
(4, 5, 'Anthony', 'Davis', 27, 5, '$189,903,600', '$37,980,720', None)
(5, 5, 'Klay', 'Thompson', 29, 5, '$189,903,600', '$37,980,720', None)
(6, 7, 'Tobias', 'Harris', 26, 5, '$180,000,000', '$36,000,000', None)
(7, 8, 'Khris', 'Middleton', 27, 5, '$177,500,000', '$35,500,000', None)
(8, 9, 'Ben', 'Simmons', 22, 5, '$177,243,360', '$35,448,672', None)
(9, 10, 'Paul', 'George', 30, 4, '$176,265,466', '$44,066,367', None)
(10, 10, 'Damian', 'Lillard', 30, 4, '$176,265,466', '$44,066,367', None)
(11, 12, 'James', 'Harden', 27, 4, '$171,131,520', '$42,782,880', None)
(12, 12, 'John', 'Wall', 26, 4, '$171,131,520', '$42,782,880', None)
(13, 14, 'Kevin', 'Durant', 30, 4, '$164,255,700', '$41,063,925', None)
(14, 15, 'Edrice', 'Adebayo', 23, 5, '$163,000,590', '$32,600,118', None)
(15, 15, "De'Aaron", 'Fox', 22, 5, '$163,000,590', '$32,600,118', None)
(16, 15, 'Donovan', 'Mitchell', 24, 5, '$163,000,590', '$32,600,118', None)
(17, 15, 'Jayson', 'Tatum', 22, 5, '$163,000,590', '$32,600,118', None)
(18, 19, 'Chris', 'Paul', 33, 4, '$159,730,592', '$39,932,648', None)
(19, 20, 'Brandon', 'Ingram', 23, 5, '$158,253,000', '$31,650,600', None)
(20, 20, 'Karl-Anthony', 'Towns', 22, 5, '$158,253,000', '$31,650,600', None)
(21, 20, 'Devin', 'Booker', 21, 5, '$158,253,000', '$31,650,600', None)
(22, 20, 'Jamal', 'Murray', 22, 5, '$158,253,000', '$31,650,600', None)
(23, 20, 'Kristaps', 'Porzingis', 23, 5, '$158,253,000', '$31,650,600', None)
(24, 25, 'LeBron', 'James', 33, 4, '$153,312,846', '$38,328,212', None)
(25, 26, 'Mike', 'Conley', 28, 5, '$152,605,578', '$30,521,116', None)
(26, 27, 'Andrew', 'Wiggins', 22, 5, '$147,710,050', '$29,542,010', None)
(27, 27, 'Joel', 'Embiid', 23, 5, '$147,710,050', '$29,542,010', None)
(28, 27, 'Nikola', 'Jokic', 23, 5, '$147,710,050', '$29,542,010', None)
(29, 30, 'Kemba', 'Walker', 29, 4, '$140,790,600', '$35,197,650', None)
(30, 30, 'Jimmy', 'Butler', 29, 4, '$140,790,600', '$35,197,650', None)
(31, 32, 'Damian', 'Lillard', 24, 5, '$139,888,445', '$27,977,689', None)
(32, 33, 'DeMar', 'DeRozan', 26, 5, '$139,000,000', '$27,800,000', None)
(33, 34, 'Paul', 'George', 28, 4, '$136,911,936', '$34,227,984', None)
(34, 35, 'Pascal', 'Siakam', 25, 4, '$136,905,216', '$34,226,304', None)
(35, 36, 'Kyrie', 'Irving', 27, 4, '$136,490,600', '$34,122,650', None)
(36, 37, 'Jrue', 'Holiday', 30, 4, '$134,997,333', '$33,749,333', None)
(37, 38, 'Bradley', 'Beal', 23, 5, '$127,171,313', '$25,434,263', None)
(38, 39, 'Jrue', 'Holiday', 27, 5, '$126,000,000', '$25,200,000', None)
(39, 40, 'Kevin', 'Love', 30, 4, '$120,402,172', '$30,100,543', None)
(40, 41, 'Gordon', 'Hayward', 30, 4, '$120,000,000', '$30,000,000', None)
(41, 42, "D'Angelo", 'Russell', 23, 4, '$117,325,500', '$29,331,375', None)
(42, 43, 'Al', 'Horford', 33, 4, '$109,000,000', '$27,250,000', None)
(43, 44, 'C.J.', 'McCollum', 24, 4, '$106,633,449', '$26,658,362', None)
(44, 45, 'Otto', 'Porter', 24, 4, '$106,524,975', '$26,631,244', None)
(45, 46, 'Jaylen', 'Brown', 22, 4, '$106,333,334', '$26,583,334', None)
(46, 47, 'Kawhi', 'Leonard', 28, 3, '$103,137,300', '$34,379,100', None)
(47, 48, 'Rudy', 'Gobert', 24, 4, '$102,000,000', '$25,500,000', None)
(48, 49, 'C.J.', 'McCollum', 27, 3, '$100,000,000', '$33,333,333', None)
(49, 49, 'Steven', 'Adams', 23, 4, '$100,000,000', '$25,000,000', None)
(50, 49, 'Giannis', 'Antetokounmpo', 21, 4, '$100,000,000', '$25,000,000', None)
(51, 49, 'Nikola', 'Vucevic', 28, 4, '$100,000,000', '$25,000,000', None)
(52, 53, 'Draymond', 'Green', 29, 4, '$99,666,362', '$24,916,591', None)
(53, 54, 'Buddy', 'Hield', 26, 4, '$94,000,000', '$23,500,000', None)
(54, 55, 'Clint', 'Capela', 23, 5, '$90,000,000', '$18,000,000', None)
(55, 56, 'LeBron', 'James', 36, 2, '$85,655,532', '$42,827,766', None)
(56, 57, 'Harrison', 'Barnes', 27, 4, '$85,000,000', '$21,250,000', None)
(57, 57, 'Malcolm', 'Brogdon', 26, 4, '$85,000,000', '$21,250,000', None)
(58, 57, 'Evan', 'Fournier', 23, 5, '$85,000,000', '$17,000,000', None)
(59, 57, 'Victor', 'Oladipo', 24, 4, '$85,000,000', '$21,250,000', None)
(60, 61, 'Gary', 'Harris', 23, 4, '$84,000,000', '$21,000,000', None)
(61, 62, 'Davis', 'Bertans', 28, 5, '$80,000,000', '$16,000,000', None)
(62, 62, 'Aaron', 'Gordon', 22, 4, '$80,000,000', '$20,000,000', None)
(63, 62, 'Myles', 'Turner', 22, 4, '$80,000,000', '$20,000,000', None)
(64, 65, 'Zach', 'LaVine', 23, 4, '$78,000,000', '$19,500,000', None)
(65, 66, 'Eric', 'Gordon', 30, 4, '$75,574,356', '$18,893,589', None)
(66, 67, 'Joe', 'Harris', 29, 4, '$75,000,000', '$18,750,000', None)
(67, 68, 'Domantas', 'Sabonis', 23, 4, '$74,900,000', '$18,725,000', None)
(68, 69, 'Bojan', 'Bogdanovic', 30, 4, '$73,100,000', '$18,275,000', None)
(69, 70, 'OG', 'Anunoby', 23, 4, '$72,000,000', '$18,000,000', None)
(70, 70, 'Bogdan', 'Bogdanovic', 28, 4, '$72,000,000', '$18,000,000', None)
(71, 72, 'Bradley', 'Beal', 26, 2, '$71,764,430', '$35,882,215', None)
(72, 73, 'Tim', 'Hardaway', 25, 4, '$70,950,000', '$17,737,500', None)
(73, 74, 'Derrick', 'White', 26, 4, '$70,000,000', '$17,500,000', None)
(74, 74, 'Eric', 'Bledsoe', 29, 4, '$70,000,000', '$17,500,000', None)
(75, 74, 'Dennis', 'SchrÃ¶der', 23, 4, '$70,000,000', '$17,500,000', None)
(76, 77, 'Jonathan', 'Isaac', 23, 4, '$69,600,000', '$17,400,000', None)
(77, 78, 'Ian', 'Mahinmi', 29, 4, '$64,000,000', '$16,000,000', None)
(78, 78, 'Marcus', 'Morris', 31, 4, '$64,000,000', '$16,000,000', None)
(79, 80, 'Dejounte', 'Murray', 23, 4, '$63,820,000', '$15,955,000', None)
(80, 81, 'Julius', 'Randle', 24, 3, '$62,100,000', '$20,700,000', None)
(81, 82, 'Danilo', 'Gallinari', 32, 3, '$61,425,000', '$20,475,000', None)
(82, 83, 'Jerami', 'Grant', 26, 3, '$60,007,500', '$20,002,500', None)
(83, 84, 'Malik', 'Beasley', 24, 4, '$60,000,000', '$15,000,000', '$300,000')
(84, 85, 'Terry', 'Rozier', 25, 3, '$56,700,000', '$18,900,000', None)
(85, 86, 'Cody', 'Zeller', 24, 4, '$56,000,000', '$14,000,000', None)
(86, 87, 'Terrence', 'Ross', 28, 4, '$54,000,000', '$13,500,000', None)
(87, 88, 'Will', 'Barton', 27, 4, '$53,000,000', '$13,250,000', None)
(88, 89, 'Caris', 'LeVert', 24, 3, '$52,500,000', '$17,500,000', None)
(89, 90, 'Brook', 'Lopez', 31, 4, '$52,000,000', '$13,000,000', None)
(90, 91, 'Marcus', 'Smart', 24, 4, '$51,999,900', '$12,999,975', None)
(91, 92, 'Jordan', 'Clarkson', 28, 4, '$51,520,000', '$12,880,000', None)
(92, 93, 'Ricky', 'Rubio', 28, 3, '$51,000,000', '$17,000,000', None)
(93, 94, 'Marvin', 'Bagley', 18, 4, '$50,899,782', '$12,724,946', None)
(94, 95, 'Markelle', 'Fultz', 22, 3, '$50,000,000', '$16,666,667', None)
(95, 95, 'Kelly', 'Olynyk', 26, 4, '$50,000,000', '$12,500,000', None)
(96, 97, 'Patrick', 'Mills', 28, 4, '$48,000,000', '$12,000,000', None)
(97, 97, 'Jusuf', 'Nurkic', 23, 4, '$48,000,000', '$12,000,000', None)
(98, 99, 'T.J.', 'Warren', 24, 4, '$47,000,000', '$11,750,000', None)
(99, 100, 'Tony', 'Snell', 25, 4, '$46,000,000', '$11,500,000', None)
(100, 101, 'Jonas', 'Valanciunas', 27, 3, '$45,000,000', '$15,000,000', None)
(101, 102, 'Larry', 'Nance', 25, 4, '$44,800,000', '$11,200,000', None)
(102, 103, 'Thaddeus', 'Young', 31, 3, '$43,635,000', '$14,545,000', None)
(103, 104, 'James', 'Johnson', 30, 3, '$43,295,100', '$14,431,700', None)
(104, 105, 'Josh', 'Richardson', 24, 4, '$41,965,056', '$10,491,264', None)
(105, 105, 'Norman', 'Powell', 24, 4, '$41,965,056', '$10,491,264', None)
(106, 107, 'Luke', 'Kennard', 24, 3, '$41,236,364', '$13,745,455', None)
(107, 108, 'Deandre', 'Ayton', 19, 4, '$40,379,230', '$10,094,808', None)
(108, 109, 'Patrick', 'Beverley', 30, 3, '$39,999,980', '$13,333,327', None)
(109, 110, 'DeAndre', 'Jordan', 30, 4, '$39,960,716', '$9,990,179', None)
(110, 111, 'Kentavious', 'Caldwell-Pope', 27, 3, '$39,116,585', '$13,038,862', None)
(111, 112, 'Kyle', 'Kuzma', 25, 3, '$39,000,000', '$13,000,000', None)
(112, 113, 'Markelle', 'Fultz', 18, 4, '$37,400,017', '$9,350,004', None)
(113, 114, 'Cory', 'Joseph', 27, 3, '$37,200,000', '$12,400,000', None)
(114, 115, 'Kyle', 'Anderson', 24, 4, '$37,156,300', '$9,289,075', None)
(115, 116, 'Steven', 'Adams', 27, 2, '$35,000,000', '$17,500,000', None)
(116, 116, 'Dillon', 'Brooks', 24, 3, '$35,000,000', '$11,666,667', None)
(117, 118, "De'Anthony", 'Melton', 22, 4, '$34,627,688', '$8,656,922', None)
(118, 119, 'Spencer', 'Dinwiddie', 25, 3, '$34,362,144', '$11,454,048', None)
(119, 120, 'Lonzo', 'Ball', 19, 4, '$33,471,622', '$8,367,906', None)
(120, 121, 'Dwight', 'Powell', 27, 3, '$33,240,375', '$11,080,125', None)
(121, 122, 'Dante', 'Exum', 22, 3, '$33,000,000', '$11,000,000', None)
(122, 123, 'Luka', 'Doncic', 18, 4, '$32,467,751', '$8,116,938', None)
(123, 124, 'Rudy', 'Gay', 32, 2, '$32,000,000', '$16,000,000', None)
(124, 125, 'P.J.', 'Tucker', 32, 4, '$31,878,148', '$7,969,537', None)
(125, 126, 'Jeremy', 'Lamb', 27, 3, '$31,500,000', '$10,500,000', None)
(126, 127, 'Cedi', 'Osman', 24, 4, '$31,118,844', '$7,779,711', None)
(127, 128, 'Zion', 'Williamson', 18, 3, '$30,736,320', '$10,245,440', None)
(128, 129, 'Kyle', 'Lowry', 33, 1, '$30,500,000', '$30,500,000', None)
(129, 130, 'Jayson', 'Tatum', 18, 4, '$30,073,320', '$7,518,330', None)
(130, 131, 'Kelly', 'Oubre', 23, 2, '$30,000,000', '$15,000,000', None)
(131, 131, 'Andre', 'Iguodala', 36, 2, '$30,000,000', '$15,000,000', None)
(132, 131, 'Danny', 'Green', 31, 2, '$30,000,000', '$15,000,000', None)
(133, 131, 'Tomas', 'Satoransky', 27, 3, '$30,000,000', '$10,000,000', None)
(134, 135, 'Jaren', 'Jackson', 18, 4, '$29,280,440', '$7,320,110', None)
(135, 136, 'Derrick', 'Favors', 29, 3, '$29,162,700', '$9,720,900', None)
(136, 136, 'Jae', 'Crowder', 30, 3, '$29,162,700', '$9,720,900', None)
(137, 136, 'Al-Farouq', 'Aminu', 28, 3, '$29,162,700', '$9,720,900', None)
(138, 139, 'George', 'Hill', 33, 3, '$28,771,806', '$9,590,602', None)
(139, 140, 'Delon', 'Wright', 26, 3, '$28,050,000', '$9,350,000', None)
(140, 141, 'Monte', 'Morris', 25, 3, '$27,774,997', '$9,258,332', None)
(141, 142, 'Ja', 'Morant', 19, 3, '$27,500,400', '$9,166,800', None)
(142, 143, 'Dario', 'Saric', 26, 3, '$27,000,000', '$9,000,000', None)
(143, 144, 'Trae', 'Young', 19, 4, '$26,527,711', '$6,631,928', None)
(144, 145, 'J.J.', 'Redick', 35, 2, '$26,500,000', '$13,250,000', None)
(145, 146, 'Tyus', 'Jones', 23, 3, '$26,445,300', '$8,815,100', None)
(146, 147, 'Jakob', 'Poeltl', 25, 3, '$26,250,000', '$8,750,000', None)
(147, 148, 'Justise', 'Winslow', 22, 2, '$26,000,000', '$13,000,000', None)
(148, 149, 'Taurean', 'Prince', 25, 2, '$25,250,000', '$12,625,000', None)
(149, 150, 'Trevor', 'Ariza', 34, 2, '$25,000,000', '$12,500,000', None)
(150, 150, 'Thomas', 'Bryant', 21, 3, '$25,000,000', '$8,333,333', None)
(151, 152, 'R.J.', 'Barrett', 18, 3, '$24,695,640', '$8,231,880', None)
(152, 153, 'Mason', 'Plumlee', 30, 3, '$24,662,500', '$8,220,833', None)
(153, 154, "De'Aaron", 'Fox', 19, 4, '$24,572,507', '$6,143,127', None)
(154, 155, 'Mohamed', 'Bamba', 19, 4, '$24,100,423', '$6,025,106', None)
(155, 156, 'Louis', 'Williams', 31, 3, '$24,000,000', '$8,000,000', None)
(156, 157, 'Jonathan', 'Isaac', 19, 4, '$22,324,406', '$5,581,102', None)
(157, 158, "De'Andre", 'Hunter', 21, 3, '$22,265,760', '$7,421,920', None)
(158, 159, 'Wendell', 'Carter', 18, 4, '$22,011,467', '$5,502,867', None)
(159, 160, 'Doug', 'McDermott', 26, 3, '$22,000,000', '$7,333,333', None)
(160, 161, 'Juan', 'Hernangomez', 25, 3, '$21,037,320', '$7,012,440', None)
(161, 162, 'D.J.', 'Augustin', 33, 3, '$21,000,000', '$7,000,000', None)
(162, 162, 'Ivica', 'Zubac', 22, 3, '$21,000,000', '$7,000,000', None)
(163, 164, 'Rodney', 'Hood', 28, 2, '$20,898,696', '$10,449,348', None)
(164, 165, 'Nemanja', 'Bjelica', 30, 3, '$20,475,000', '$6,825,000', None)
(165, 166, 'Lauri', 'Markkanen', 19, 4, '$20,389,668', '$5,097,417', None)
(166, 167, 'Collin', 'Sexton', 18, 4, '$20,175,111', '$5,043,778', None)
(167, 168, 'Darius', 'Garland', 18, 3, '$20,162,520', '$6,720,840', None)
(168, 169, 'Anthony', 'Edwards', 19, 2, '$20,002,920', '$10,001,460', None)
(169, 170, 'Serge', 'Ibaka', 31, 2, '$18,978,900', '$9,489,450', None)
(170, 170, 'Tristan', 'Thompson', 29, 2, '$18,978,900', '$9,489,450', None)
(171, 170, 'Montrezl', 'Harrell', 26, 2, '$18,978,900', '$9,489,450', None)
(172, 173, 'Frank', 'Ntilikina', 18, 4, '$18,689,218', '$4,672,305', None)
(173, 174, 'Kevin', 'Knox', 18, 4, '$18,554,698', '$4,638,675', None)
(174, 175, 'Jarrett', 'Culver', 19, 3, '$18,313,080', '$6,104,360', None)
(175, 176, 'Goran', 'Dragic', 34, 1, '$18,000,000', '$18,000,000', None)
(176, 177, 'James', 'Wiseman', 19, 2, '$17,897,040', '$8,948,520', None)
(177, 178, 'Mikal', 'Bridges', 21, 4, '$17,630,685', '$4,407,671', None)
(178, 179, 'Dennis', 'Smith', 19, 4, '$17,188,557', '$4,297,139', None)
(179, 180, 'Shai', 'Gilgeous-Alexander', 19, 4, '$16,965,132', '$4,241,283', None)
(180, 181, 'Coby', 'White', 18, 3, '$16,717,560', '$5,572,520', None)
(181, 182, 'Zach', 'Collins', 19, 4, '$16,332,615', '$4,083,154', None)
(182, 183, 'Miles', 'Bridges', 19, 4, '$16,317,853', '$4,079,463', None)
(183, 184, 'LaMelo', 'Ball', 19, 2, '$16,071,720', '$8,035,860', None)
(184, 185, 'Pat', 'Connaughton', 27, 3, '$16,000,000', '$5,333,333', None)
(185, 186, 'Malik', 'Monk', 18, 4, '$15,726,047', '$3,931,512', None)
(186, 187, 'Jaxson', 'Hayes', 18, 3, '$15,315,480', '$5,105,160', None)
(187, 188, 'Michael', 'Porter', 19, 4, '$15,093,095', '$3,773,274', None)
(188, 189, 'Derrick', 'Rose', 30, 2, '$15,000,000', '$7,500,000', None)
(189, 189, 'Rajon', 'Rondo', 34, 2, '$15,000,000', '$7,500,000', None)
(190, 191, 'Donovan', 'Mitchell', 20, 4, '$14,564,021', '$3,641,005', None)
(191, 192, 'Troy', 'Brown', 18, 4, '$14,511,964', '$3,627,991', None)
(192, 193, 'Patrick', 'Williams', 19, 2, '$14,490,360', '$7,245,180', None)
(193, 194, 'Kevon', 'Looney', 23, 3, '$14,464,287', '$4,821,429', None)
(194, 195, 'Darius', 'Miller', 29, 2, '$14,250,000', '$7,125,000', None)
(195, 196, 'Rui', 'Hachimura', 20, 3, '$14,078,160', '$4,692,720', None)
(196, 197, 'Cam', 'Reddish', 19, 3, '$13,373,880', '$4,457,960', None)
(197, 198, 'Isaac', 'Okoro', 19, 2, '$13,121,640', '$6,560,820', None)
(198, 199, 'Donte', 'DiVincenzo', 20, 4, '$13,106,790', '$3,276,698', None)
(199, 200, 'Cameron', 'Johnson', 22, 3, '$12,705,600', '$4,235,200', None)
(200, 201, 'Lonnie', 'Walker', 19, 4, '$12,457,536', '$3,114,384', None)
(201, 202, 'DJ', 'Wilson', 20, 4, '$12,178,720', '$3,044,680', None)
(202, 203, 'PJ', 'Washington', 20, 3, '$12,070,560', '$4,023,520', None)
(203, 204, 'Onyeka', 'Okongwu', 19, 2, '$11,917,920', '$5,958,960', None)
(204, 205, 'Kevin', 'Huerter', 19, 4, '$11,902,517', '$2,975,629', None)
(205, 206, 'Jevon', 'Carter', 25, 3, '$11,500,000', '$3,833,333', None)
(206, 207, 'Tyler', 'Herro', 18, 3, '$11,466,720', '$3,822,240', None)
(207, 208, 'Josh', 'Okogie', 19, 4, '$11,430,344', '$2,857,586', None)
(208, 209, 'Jake', 'Layman', 25, 3, '$11,283,255', '$3,761,085', None)
(209, 210, 'John', 'Collins', 19, 4, '$11,059,862', '$2,764,966', None)
(210, 211, 'Trey', 'Lyles', 23, 2, '$11,000,000', '$5,500,000', None)
(211, 212, 'Romeo', 'Langford', 19, 3, '$10,893,960', '$3,631,320', None)
(212, 213, 'Killian', 'Hayes', 19, 2, '$10,879,800', '$5,439,900', None)
(213, 214, 'Aaron', 'Holiday', 21, 4, '$10,477,351', '$2,619,338', None)
(214, 215, 'Jerome', 'Robinson', 20, 3, '$10,351,440', '$3,450,480', None)
(215, 216, 'Sekou', 'Doumbouya', 18, 3, '$10,348,200', '$3,449,400', None)
(216, 217, 'Anfernee', 'Simons', 18, 4, '$10,175,938', '$2,543,985', None)
(217, 218, 'Jarrett', 'Allen', 18, 4, '$10,034,582', '$2,508,646', None)
(218, 219, 'Paul', 'Millsap', 35, 1, '$10,000,000', '$10,000,000', None)
(219, 219, 'Kris', 'Dunn', 26, 2, '$10,000,000', '$5,000,000', None)
(220, 221, 'Obi', 'Toppin', 22, 2, '$9,967,200', '$4,983,600', None)
(221, 222, 'Mike', 'Scott', 30, 2, '$9,800,000', '$4,900,000', None)
(222, 223, 'Richaun', 'Holmes', 25, 2, '$9,772,350', '$4,886,175', None)
(223, 223, 'Ed', 'Davis', 30, 2, '$9,772,350', '$4,886,175', None)
(224, 223, 'Josh', 'Jackson', 23, 2, '$9,772,350', '$4,886,175', None)
(225, 223, 'Enes', 'Kanter', 26, 2, '$9,772,350', '$4,886,175', None)
(226, 227, 'OG', 'Anunoby', 19, 4, '$9,751,975', '$2,437,994', None)
(227, 228, 'Landry', 'Shamet', 20, 4, '$9,557,142', '$2,389,286', None)
(228, 229, 'Trey', 'Burke', 28, 3, '$9,450,000', '$3,150,000', None)
(229, 230, 'Nickeil', 'Alexander-Walker', 20, 3, '$9,339,480', '$3,113,160', None)
(230, 231, 'Robert', 'Williams', 20, 4, '$9,283,856', '$2,320,964', None)
(231, 232, 'Deni', 'Avdija', 19, 2, '$9,162,000', '$4,581,000', None)
(232, 233, 'Edrice', 'Adebayo', 19, 3, '$8,900,280', '$2,966,760', None)
(233, 234, 'Goga', 'Bitadze', 19, 3, '$8,872,680', '$2,957,560', None)
(234, 235, 'Kyle', 'Kuzma', 21, 4, '$8,650,178', '$2,162,545', None)
(235, 236, 'Tony', 'Bradley', 18, 4, '$8,598,860', '$2,149,715', None)
(236, 237, 'Derrick', 'White', 22, 4, '$8,536,124', '$2,134,031', None)
(237, 238, 'Josh', 'Hart', 21, 4, '$8,474,999', '$2,118,750', None)
(238, 239, 'Luka', 'Samanic', 18, 3, '$8,473,320', '$2,824,440', None)
(239, 240, 'Devin', 'Vassell', 20, 2, '$8,268,600', '$4,134,300', None)
(240, 241, 'Reggie', 'Bullock', 28, 2, '$8,200,000', '$4,100,000', None)
(241, 241, 'JaVale', 'McGee', 31, 2, '$8,200,000', '$4,100,000', None)
(242, 243, 'Matisse', 'Thybulle', 21, 3, '$8,133,600', '$2,711,200', None)
(243, 244, 'Patrick', 'McCaw', 23, 2, '$8,000,000', '$4,000,000', None)
(244, 245, 'Tyrese', 'Haliburton', 20, 2, '$7,855,440', '$3,927,720', None)
(245, 246, 'Brandon', 'Clarke', 22, 3, '$7,808,640', '$2,602,880', None)
(246, 247, 'Grant', 'Williams', 20, 3, '$7,496,400', '$2,498,800', None)
(247, 248, 'Kira', 'Lewis', 19, 2, '$7,462,440', '$3,731,220', None)
(248, 249, 'Stanley', 'Johnson', 23, 2, '$7,427,150', '$3,713,575', None)
(249, 249, 'Bobby', 'Portis', 25, 2, '$7,427,150', '$3,713,575', None)
(250, 251, 'Robin', 'Lopez', 32, 1, '$7,300,000', '$7,300,000', None)
(251, 252, 'Darius', 'Bazley', 18, 3, '$7,197,000', '$2,399,000', None)
(252, 253, 'Aaron', 'Nesmith', 21, 2, '$7,089,600', '$3,544,800', None)
(253, 254, 'Grayson', 'Allen', 22, 4, '$7,049,040', '$1,762,260', None)
(254, 255, 'Ty', 'Jerome', 21, 3, '$6,909,360', '$2,303,120', None)
(255, 256, 'Chandler', 'Hutchison', 21, 4, '$6,767,280', '$1,691,820', None)
(256, 257, 'Cole', 'Anthony', 20, 2, '$6,734,520', '$3,367,260', None)
(257, 258, 'Nassir', 'Little', 18, 3, '$6,632,400', '$2,210,800', None)
(258, 259, 'Vernon', 'Carey', 19, 3, '$6,581,283', '$2,193,761', None)
(259, 260, 'Tyrell', 'Terry', 20, 4, '$6,521,129', '$1,630,282', None)
(260, 261, 'Dylan', 'Windler', 22, 3, '$6,412,440', '$2,137,480', None)
(261, 262, 'Chuma', 'Okeke', 22, 2, '$6,398,160', '$3,199,080', None)
(262, 262, 'Isaiah', 'Stewart', 19, 2, '$6,398,160', '$3,199,080', None)
(263, 264, 'Jordan', 'Poole', 19, 3, '$6,189,480', '$2,063,160', None)
(264, 265, 'Keldon', 'Johnson', 19, 3, '$6,144,360', '$2,048,120', None)
(265, 266, 'Daniel', 'Gafford', 20, 4, '$6,129,593', '$1,532,398', None)
(266, 266, 'Alen', 'Smailagic', 18, 4, '$6,129,593', '$1,532,398', None)
(267, 266, 'Jalen', 'McDaniels', 21, 4, '$6,129,593', '$1,532,398', None)
(268, 269, 'Jalen', 'Brunson', 21, 4, '$6,112,770', '$1,528,193', None)
(269, 270, 'Aleksej', 'Pokusevski', 18, 2, '$6,078,000', '$3,039,000', None)
(270, 271, 'Alec', 'Burks', 29, 1, '$6,000,000', '$6,000,000', None)
(271, 271, 'Michael', 'Carter-Williams', 28, 2, '$6,000,000', '$3,000,000', None)
(272, 273, 'Moritz', 'Wagner', 20, 3, '$5,987,520', '$1,995,840', None)
(273, 274, 'Theo', 'Maledon', 19, 3, '$5,900,000', '$1,966,667', None)
(274, 275, 'Josh', 'Green', 20, 2, '$5,774,280', '$2,887,140', None)